* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: $main-font;
  font-size: 14px;
  scroll-behavior: smooth;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #111;
}

ul {
  list-style: none;
}
