$main-font: 'Montserrat', sans-serif;
$title-font: 'Kaushan Script', cursive;
$description-font: 'Roboto', sans-serif;
$white-font-color: #ffffff;
$welcome-section-accent-color: #fce38a;
$servises-section-accent-color: #f38181;
$blue-accent-color: #95e1d3;
