.team__title--italic {
  text-align: center;
  font-family: $title-font;
  font-weight: normal;
  font-size: 24px;
}

.team__title--uppercase {
  font-size: 30px;
  font-weight: bold;
  padding-top: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;

  &:after {
    content: '';
    display: block;
    border-bottom: 3px solid $servises-section-accent-color;
    width: 60px;
    margin: 35px auto 30px;
  }
}

.team__desc {
  font-family: $description-font;
  font-size: 15px;
  line-height: 24px;
  color: #999;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 85px;
}
