.services__title--italic {
  text-align: center;
  font-family: $title-font;
  font-weight: normal;
  font-size: 24px;
  padding-top: 50px;
}

.services__title--uppercase {
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
}

.services__title::after {
  content: '';
  display: block;
  border-bottom: 3px solid $servises-section-accent-color;
  width: 60px;
  margin: 35px auto 40px;
}
