.services-item {
  display: flex;
  width: 360px;
  height: 165px;

  .icon {
    display: block;
    width: 35px;
    height: 35px;
    margin-right: 20px;
    fill: $blue-accent-color;
  }
}

.icon__photography {
  background: url(../../../images/ALARM.svg) no-repeat center center;
}

.icon__wb {
  background: url(../../../images/LINE-GRAPH.svg) no-repeat center center;
}

.icon__creativity {
  background: url(../../../images/COMPUTER.svg) no-repeat center center;
}

.icon__seo {
  background: url(../../../images/BOOK.svg) no-repeat center center;
}

.icon__css {
  background: url(../../../images/HOME.svg) no-repeat center center;
}

.icon__digital {
  background: url(../../../images/IMAGE.svg) no-repeat center center;
}

.services-item__desc {
  width: 305px;
}

.services-item__title {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
}

.services-item__text {
  font-family: $description-font;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}
