.welcome-section__title {
  margin: 0 auto;
  width: 850px;
  text-align: center;
  color: $white-font-color;

  &--italic {
    font-family: $title-font;
    font-size: 72px;
    font-weight: normal;
    margin-bottom: 50px;
  }

  &--uppercase {
    font-weight: bold;
    font-size: 150px;
    line-height: 140px;
    text-transform: uppercase;
    margin-bottom: 100px;
  }
}
