.welcome-section {
  position: relative;
  height: 1000px;
  @include bg-image('../../../images/bg.png');

  &__wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9),
      rgba(243, 129, 129, 0.9)
    );
    @include center-flex('all');
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/bg@2x.png);
  }
}
